@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 100vh; /* Make sure the container takes up the full viewport height */
    margin: 0;
    background-color: whitesmoke;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 48px;
    text-align: center;
}

.blog-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.blog-post, h2{
    font-size: 1.2rem;
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow to each post */
}

h3{
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0;
}

.selfie{
    width: 200px;
    height: 350px;
    max-width: 250px;
    border-radius: 10%;
    margin: 0 auto;
    display: block;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.1);
}